/* © Jasler.nl
 * © Iplace CMS
 */
a.new-button {
    display:block;
    float:right;
    height:25px;
    position:relative;
    text-decoration:none;
    cursor:pointer;
    overflow:hidden;
    white-space:nowrap;
    margin:0 0 5px 10px;
}

a.new-button.left {
    float:left;
    margin:0 10px 5px 0;
}

a.new-button.disabled-button,a.new-button:disabled {
    cursor:default;
    -moz-opacity:.5;
    opacity:.50;
    filter:alpha(opacity=50);
    -ms-filter:alpha(opacity=50);
}

html>body a.new-button.fill,html>body a.new-button.fill b {
    display:block;
    float:none;
}

a.new-button b {
    float:left;
    font-size:11px;
    height:17px;
    margin-right:3px;
    background:transparent url(../images/buttons/new_button.png) no-repeat -3px 0;
    color:#000;
    font-weight:700;
    text-align:center;
    display:inline;
    padding:5px 17px 4px 20px;
}

a.new-button:hover {
    text-decoration:none;
}

a.new-button:hover b {
    background-position:-3px -25px;
}

a.new-button.disabled-button:hover b {
    background-position:-3px 0;
}

a.new-button i {
    position:absolute;
    right:0;
    top:0;
    width:3px;
    height:25px;
    background:transparent url(../images/buttons/new_button.png) no-repeat 0 0;
}

a.new-button.red-button b {
    background-position:-3px -100px;
    color:#fff!important;
}

a.new-button.red-button i {
    background-position:0 -100px;
}

a.new-button.red-button:hover b {
    background-position:-3px -125px;
}

a.new-button.green-button b {
    background-position:-3px -150px;
    color:#fff!important;
}

a.new-button.green-button i {
    background-position:0 -150px;
}

a.new-button.green-button:hover b {
    background-position:-3px -175px;
}

a.new-button.dark-button b {
    background-position:-3px -50px;
    color:#fff!important;
}

a.new-button.dark-button i {
    background-position:0 -50px;
}

a.new-button.dark-button:hover b {
    background-position:-3px -75px;
}

a.new-button.edit-icon span {
    float:left;
    display:inline;
    height:16px;
    width:16px;
    background:transparent url(../images/buttons/button_icons2.png) no-repeat 0 -193px;
    margin-right:5px;
}

a.new-button.save-icon span {
    float:left;
    display:inline;
    height:16px;
    width:16px;
    background:transparent url(../images/buttons/button_icons2.png) no-repeat 0 -96px;
    margin-right:5px;
}

a.new-button.cancel-icon span {
    float:left;
    display:inline;
    height:16px;
    width:16px;
    background:transparent url(../images/buttons/button_icons2.png) no-repeat 0 -145px;
    margin-right:5px;
}

a.new-button.search-icon span {
    float:left;
    display:inline;
    height:16px;
    width:16px;
    background:transparent url(../images/buttons/button_icons2.png) no-repeat 0 0;
    margin-right:5px;
}

a.new-button.envelope-icon span {
    float:left;
    display:inline;
    height:16px;
    width:16px;
    background:transparent url(../images/buttons/button_icons2.png) no-repeat 0 -49px;
    margin-right:5px;
}

a.new-button.purse-icon span {
    float:left;
    display:inline;
    height:16px;
    width:16px;
    background:transparent url(../images/buttons/button_icons2.png) no-repeat 0 -241px;
    margin-right:5px;
}

a.new-button.newtopic-icon {
    margin-left:0;
}

a.new-button.newtopic-icon span {
    float:left;
    display:inline;
    height:16px;
    width:16px;
    background:transparent url(../images/buttons/button_icons2.png) no-repeat 0 -289px;
    margin-right:5px;
}

a.new-button.oversize {
    height:40px;
    margin:0 0 5px 10px;
}

a.new-button.oversize b {
    font-size:18px;
    height:32px;
    margin-right:4px;
    background:transparent url(../images/buttons/new_button_oversize.png) no-repeat -4px 0;
    padding:7px 17px 4px 20px;
}

a.new-button.oversize i {
    width:4px;
    height:40px;
    background:transparent url(../images/buttons/new_button_oversize.png) no-repeat 0 0;
}

a.new-button.oversize:hover b {
    background-position:-4px -40px;
}

a.new-button.oversize:hover i {
    background-position:0 -40px;
}