div.b_bg_pattern_abstract2,div.b_bg_pattern_abstract2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_abstract2.gif);
}
div.b_bg_colour_01,div.b_bg_colour_01_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_colour_01.gif);
}
div.b_bg_colour_08,div.b_bg_colour_08_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_colour_08.gif);
}
div.b_bg_colour_12,div.b_bg_colour_12_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_colour_12.gif);
}
div.b_bg_colour_16,div.b_bg_colour_16_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_colour_16.gif);
}
div.b_bg_denim,div.b_bg_denim_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/denim.gif);
}
div.b_bg_lace,div.b_bg_lace_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/lace.gif);
}
div.b_bg_stitched,div.b_bg_stitched_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/stitched.gif);
}
div.b_bg_wood,div.b_bg_wood_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_wood.gif);
}
div.b_bg_cork,div.b_bg_cork_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/cork.png);
}
div.b_bg_stone,div.b_bg_stone_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/stone.gif);
}
div.b_bg_pattern_bricks,div.b_bg_pattern_bricks_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_bricks.gif);
}
div.b_bg_ruled_paper,div.b_bg_ruled_paper_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/ruled_paper.gif);
}
div.b_bg_grass,div.b_bg_grass_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/grass.gif);
}
div.b_bg_hotel,div.b_bg_hotel_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/hotel.png);
}
div.b_bg_bubble,div.b_bg_bubble_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bubble.gif);
}
div.b_bg_pattern_bobbaskulls1,div.b_bg_pattern_bobbaskulls1_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_bobbaskulls1.gif);
}
div.b_bg_pattern_space,div.b_bg_pattern_space_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_space.gif);
}
div.b_bg_image_submarine,div.b_bg_image_submarine_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_image_submarine.gif);
}
div.b_bg_metal2,div.b_bg_metal2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/metal2.gif);
}
div.b_bg_broken_glass,div.b_bg_broken_glass_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_broken_glass.png);
}
div.b_bg_pattern_clouds,div.b_bg_pattern_clouds_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_clouds.gif);
}
div.b_bg_comic2,div.b_bg_comic2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/comic2.png);
}
div.b_bg_pattern_floral_01,div.b_bg_pattern_floral_01_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_floral_01.gif);
}
div.b_bg_pattern_floral_02,div.b_bg_pattern_floral_02_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_floral_02.gif);
}
div.b_bg_pattern_floral_03,div.b_bg_pattern_floral_03_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_floral_03.gif);
}
div.b_bg_pattern_bulb,div.b_bg_pattern_bulb_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_bulb.gif);
}
div.b_bg_pattern_cars,div.b_bg_pattern_cars_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_cars.gif);
}
div.b_bg_pattern_carpants,div.b_bg_pattern_carpants_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_carpants.gif);
}
div.b_bg_pattern_plasto,div.b_bg_pattern_plasto_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_plasto.gif);
}
div.b_bg_pattern_tinyroom,div.b_bg_pattern_tinyroom_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_tinyroom.gif);
}
div.b_bg_pattern_hearts,div.b_bg_pattern_hearts_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_hearts.gif);
}
div.b_bg_pattern_abstract1,div.b_bg_pattern_abstract1_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_abstract1.gif);
}
div.b_bg_bathroom_tile,div.b_bg_bathroom_tile_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_bathroom_tile.gif);
}
div.b_bg_pattern_fish,div.b_bg_pattern_fish_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_fish.gif);
}
div.b_bg_pattern_deepred,div.b_bg_pattern_deepred_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_deepred.gif);
}
div.b_bg_colour_02,div.b_bg_colour_02_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_colour_02.gif);
}
div.b_bg_colour_03,div.b_bg_colour_03_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_colour_03.gif);
}
div.b_bg_colour_04,div.b_bg_colour_04_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_colour_04.gif);
}
div.b_bg_colour_05,div.b_bg_colour_05_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_colour_05.gif);
}
div.b_bg_colour_06,div.b_bg_colour_06_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_colour_06.gif);
}
div.b_bg_colour_07,div.b_bg_colour_07_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_colour_07.gif);
}
div.b_bg_colour_09,div.b_bg_colour_09_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_colour_09.gif);
}
div.b_bg_colour_10,div.b_bg_colour_10_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_colour_10.gif);
}
div.b_bg_colour_11,div.b_bg_colour_11_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_colour_11.gif);
}
div.b_bg_colour_13,div.b_bg_colour_13_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_colour_13.gif);
}
div.b_bg_colour_14,div.b_bg_colour_14_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_colour_14.gif);
}
div.b_bg_colour_15,div.b_bg_colour_15_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_colour_15.gif);
}
div.b_bg_colour_17,div.b_bg_colour_17_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_colour_17.gif);
}
div.b_bg_tonga,div.b_bg_tonga_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/tonga.gif);
}
div.b_nl_green_bg,div.b_nl_green_bg_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/nl_green_bg.gif);
}
div.b_xmas_gifts_bg,div.b_xmas_gifts_bg_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/xmas_gifts_bg.gif);
}
div.b_xmas_bgpattern_starsky,div.b_xmas_bgpattern_starsky_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/xmas_bgpattern_starsky.gif);
}
div.b_vale_rose_bg,div.b_vale_rose_bg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/vale_rose_bg.gif);
}
div.b_vale_skull_bg,div.b_vale_skull_bg_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/vale_skull_bg.gif);
}
div.b_newyear_bg_fireworks2,div.b_newyear_bg_fireworks2_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/newyear_bg_fireworks2.gif);
}
div.b_easter_eggs_wallpaper,div.b_easter_eggs_wallpaper_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/easter_eggs_wallpaper.gif);
}
div.b_hc_bg_machine,div.b_hc_bg_machine_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/HC_machine.png);
}
div.b_hc_bg_pillow,div.b_hc_bg_pillow_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/HC_pillow.gif);
}
div.b_hc_bg_royal,div.b_hc_bg_royal_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/HC_royal.gif);
}
div.b_bg_xmas_gift,div.b_bg_xmas_gift_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/xmas_gifts_bg);
}
div.b_val_bgpattern_love,div.b_val_bgpattern_love_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/vale_rose_bg.gif);
}
div.b_val_bgpattern_skull,div.b_val_bgpattern_skull_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/vale_skull_bg.gif);
}
div.b_tutorial_bg,div.b_tutorial_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/tutorial_bg.png);
}
div.b_habbo_group_tutorial_bg,div.b_habbo_group_tutorial_bg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/habbo_group_tutorial_bg.png);
}
div.b_habboween_bg,div.b_habboween_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/habboween_bg.gif);
}
div.b_voiceofteens,div.b_voiceofteens_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/voiceofteens.gif);
}
div.b_globalw_background,div.b_globalw_background_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/GlobalW_Background.gif);
}
div.b_bg_battle_ball2,div.b_bg_battle_ball2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/BB_Group2.png);
}
div.b_bg_infobus_blue,div.b_bg_infobus_blue_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_infobus_blue.png);
}
div.b_bg_infobus_white,div.b_bg_infobus_white_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_infobus_white.png);
}
div.b_bg_infobus_yellow,div.b_bg_infobus_yellow_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_infobus_yellow.png);
}
div.b_bg_lido_flat,div.b_bg_lido_flat_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/lido_flatt_bg.png);
}
div.b_bg_lidoo,div.b_bg_lidoo_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/lidoo_bg.png);
}
div.b_bg_vip,div.b_bg_vip_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/Vip_Group.png);
}
div.b_bg_wobble_squabble,div.b_bg_wobble_squabble_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/WS_Group2.png);
}
div.b_habbogroup,div.b_habbogroup_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/habbos_group.png);
}
div.b_snowstorm_bg,div.b_snowstorm_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/snowstorm_bg.png);
}
div.b_solid_bg_white,div.b_solid_bg_white_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/Solid_BG_white.gif);
}
div.b_makeover,div.b_makeover_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/makeover.gif);
}
div.b_habbox,div.b_habbox_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/habbox.gif);
}
div.b_christmas2007bg_001,div.b_christmas2007bg_001_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/christmas2007bg_001.gif);
}
div.b_xmas_jeff_donkey_reindeer_sticker,div.b_xmas_jeff_donkey_reindeer_sticker_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/fout);
}
div.b_kingcorp_928x1360,div.b_kingcorp_928x1360_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/kingcorp_928x1360.gif);
}
div.b_exec_bg_viilu,div.b_exec_bg_viilu_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/Exec_bg_viilu.gif);
}
div.b_arminvanbuuren_928x1360,div.b_arminvanbuuren_928x1360_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/ArminvanBuuren_928x1360.gif);
}
div.b_habborellabg,div.b_habborellabg_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/habborellabg.gif);
}
div.b_habborella_sea_bg,div.b_habborella_sea_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/habborella_sea_bg.gif);
}
div.b_streaming001,div.b_streaming001_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/streaming001.jpg);
}
div.b_streaming002,div.b_streaming002_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/streaming002.jpg);
}
div.b_streaming003,div.b_streaming003_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/streaming003.jpg);
}
div.b_welcoming_party,div.b_welcoming_party_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/welcoming_party.gif);
}
div.b_alhambragroup,div.b_alhambragroup_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/alhambragroup.png);
}
div.b_misshabbo_scene,div.b_misshabbo_scene_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/misshabbo_scene.gif);
}
div.b_kungfu_bg,div.b_kungfu_bg_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/kungfu_bg.png);
}
div.b_tiki_firehead_bg,div.b_tiki_firehead_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/tiki_firehead_bg.png);
}
div.b_summer_bg_optimal,div.b_summer_bg_optimal_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/summer_bg_optimal.png);
}
div.b_bg games top gamers,div.b_bg games top gamers_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/top_gamers_bg_64.png);
}
div.b_bg_guidegroup,div.b_bg_guidegroup_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_guidegroup.png);
}
div.b_snowbattle_bg,div.b_snowbattle_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/grouppage_snowbattle.png);
}
div.b_top_gamers_bg_64,div.b_top_gamers_bg_64_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/top_gamers_bg_64.png);
}
div.b_guidesgroup_bg,div.b_guidesgroup_bg_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/guidesgroup_bg.png);
}
div.b_grouppage_snowbattle2,div.b_grouppage_snowbattle2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/grouppage_snowbattle2.png);
}
div.b_habbolympics_bg_final,div.b_habbolympics_bg_final_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/habbolympics_bg_final.gif);
}
div.b_bg_newsletternl,div.b_bg_newsletternl_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_newsletterNL.gif);
}
div.b_diner_global,div.b_diner_global_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/diner_global.png);
}
div.b_diner_draft,div.b_diner_draft_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/diner_draft.png);
}
div.b_geeks_wallpaper,div.b_geeks_wallpaper_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/geeks_wallpaper.gif);
}
div.b_greasers_wallpaper,div.b_greasers_wallpaper_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/greasers_wallpaper.gif);
}
div.b_jocks_wallpaper,div.b_jocks_wallpaper_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/jocks_wallpaper.gif);
}
div.b_skulls_wallpaper,div.b_skulls_wallpaper_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/skulls_wallpaper.gif);
}
div.b_habbos_group,div.b_habbos_group_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/habbos_group.png);
}
div.b_peacegroup,div.b_peacegroup_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/peacegroup.gif);
}
div.b_usob_grouppag_1e,div.b_usob_grouppag_1e_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/USOB_grouppag_1e.png);
}
div.b_achievement,div.b_achievement_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/achievement_web_bg.png);
}
div.b_hw_day6,div.b_hw_day6_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/hw_day6.png);
}
div.b_hw_day1,div.b_hw_day1_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/hw_day1.png);
}
div.b_hw_day2,div.b_hw_day2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/hw_day2.png);
}
div.b_hw_day3,div.b_hw_day3_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/hw_day3.png);
}
div.b_hw_day4,div.b_hw_day4_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/hw_day4.png);
}
div.b_hw_day5,div.b_hw_day5_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/hw_day5.png);
}
div.b_neon_subpage,div.b_neon_subpage_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/neon_subpage.png);
}
div.b_neon_homepage,div.b_neon_homepage_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/neon_homepage.png);
}
div.b_neon_homepage2,div.b_neon_homepage2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/neon_homepage2.png);
}
div.b_neon_subpage2,div.b_neon_subpage2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/neon_subpage2.png);
}
div.b_xmas08_gpbg,div.b_xmas08_gpbg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/xmas08_gpbg.png);
}
div.b_obcampaignbackground,div.b_obcampaignbackground_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/OBcampaignbackground.gif);
}
div.b_h4d_habbo_background_group_02,div.b_h4d_habbo_background_group_02_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/H4D_habbo_background_group_02.jpg);
}
div.b_bg_nobobba,div.b_bg_nobobba_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_nobobba.gif);
}
div.b_gp_sha,div.b_gp_sha_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/gp_sha.png);
}
div.b_bg_shalimar_grouptheatre,div.b_bg_shalimar_grouptheatre_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_shalimar_grouptheatre.png);
}
div.b_nl_h4d_bg,div.b_nl_h4d_bg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/nl_h4d_bg.gif);
}
div.b_bg_lostc_oceanfloor,div.b_bg_lostc_oceanfloor_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_lostc_oceanfloor.png);
}
div.b_mvsabg,div.b_mvsabg_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/mvsabg.jpg);
}
div.b_chiuhuahua.jpg {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/chiuhuahua);
}
div.b_chiuhuahua.jpg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/chiuhuahua.jpg);
}
div.b_bg_earth_hour,div.b_bg_earth_hour_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_earth_hour.png);
}
div.b_g_easter_1,div.b_g_easter_1_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_Easter_1.gif);
}
div.b_g_easter_2,div.b_g_easter_2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_Easter_2.gif);
}
div.b_g_easter_3,div.b_g_easter_3_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_Easter_3.gif);
}
div.b_bg_easter_4,div.b_bg_easter_4_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_Easter_4.gif);
}
div.b_bg_easter_5,div.b_bg_easter_5_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_Easter_5.gif);
}
div.b_chiuhuahua,div.b_chiuhuahua_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/chiuhuahua.jpg);
}
div.b_kellycbackground,div.b_kellycbackground_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/kellycbackground.jpg);
}
div.b_kellycbackground2,div.b_kellycbackground2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/kellycbackground2.jpg);
}
div.b_uk_habboway_group_928x1360,div.b_uk_habboway_group_928x1360_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/uk_habboway_group_928x1360.gif);
}
div.b_uk_parentsguide_group_928x1360,div.b_uk_parentsguide_group_928x1360_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/uk_parentsguide_group_928x1360.gif);
}
div.b_uk_safetytips_group_928x1360,div.b_uk_safetytips_group_928x1360_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/uk_safetytips_group_928x1360.gif);
}
div.b_grouppage_country,div.b_grouppage_country_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/grouppage_country.gif);
}
div.b_habbopanel_groupbg_final,div.b_habbopanel_groupbg_final_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/habbopanel_groupbg_final.gif);
}
div.b_corkboard,div.b_corkboard_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/corkboard.png);
}
div.b_background_overheid,div.b_background_overheid_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/BACKGROUND_OVERHEID.jpg);
}
div.b_bg_ltribe_jungle,div.b_bg_ltribe_jungle_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_ltribe_jungle.png);
}
div.b_bg_ltribe_jungle_empty,div.b_bg_ltribe_jungle_empty_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_ltribe_jungle_empty.png);
}
div.b_beta_group_bg2,div.b_beta_group_bg2_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/beta_group_bg2.png);
}
div.b_mb_groupbg_3_ws,div.b_mb_groupbg_3_ws_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/mb_groupbg_3_ws.png);
}
div.b_mb_groupbg_3_stickys,div.b_mb_groupbg_3_stickys_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/comic.gif);
}
div.b_openbeta_bg,div.b_openbeta_bg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/openbeta_bg.png);
}
div.b_groupbg_scifi2,div.b_groupbg_scifi2_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/groupbg_scifi2.png);
}
div.b_bg_hotcool_summer2,div.b_bg_hotcool_summer2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_hotcool_summer2.png);
}
div.b_hbit_groupbg_final,div.b_hbit_groupbg_final_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/hbit_groupbg_final.png);
}
div.b_bg_relax,div.b_bg_relax_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_relax.gif);
}
div.b_nl_gp_tmf_toons,div.b_nl_gp_tmf_toons_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/nl_gp_tmf_toons.jpg);
}
div.b_kitchensurvivor_bg_v1,div.b_kitchensurvivor_bg_v1_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/KitchenSurvivor_BG_v1.png);
}
div.b_tmf_background_habbo_web,div.b_tmf_background_habbo_web_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/tmf_background_habbo_web.jpg);
}
div.b_background_spangas,div.b_background_spangas_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/background_spangas.jpg);
}
div.b_bg_ema09,div.b_bg_ema09_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_ema09.png);
}
div.b_background_mtg_hir_1logo,div.b_background_mtg_hir_1logo_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/Background_MTG_HIR_1logo.jpg);
}
div.b_background_mtg_hir_2logo,div.b_background_mtg_hir_2logo_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/Background_MTG_HIR_2logo.jpg);
}
div.b_background_mtg_hir_1logo_ur,div.b_background_mtg_hir_1logo_ur_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/Background_MTG_HIR_1logo_ur.jpg);
}
div.b_background_mtg_hir_2logos_u,div.b_background_mtg_hir_2logos_u_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/Background_MTG_HIR_2logos_u.jpg);
}
div.b_groupbg_nl_generic_final_blue,div.b_groupbg_nl_generic_final_blue_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/groupbg_nl_generic_final_blue.png);
}
div.b_groupbg_nl_generic_final_green,div.b_groupbg_nl_generic_final_green_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/groupbg_nl_generic_final_green.png);
}
div.b_groupbg_nl_generic_final_orange,div.b_groupbg_nl_generic_final_orange_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/groupbg_nl_generic_final_orange.png);
}
div.b_bg_hween09_newsofhabbo2,div.b_bg_hween09_newsofhabbo2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_hween09_newsofhabbo2.gif);
}
div.b_vvn_habbo_wallpaper,div.b_vvn_habbo_wallpaper_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/vvn_habbo_wallpaper.png);
}
div.b_bg_teaser_002,div.b_bg_teaser_002_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_teaser_002.jpg);
}
div.b_bg_twilight_week4_002,div.b_bg_twilight_week4_002_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_twilight_week4_002.png);
}
div.b_bg_twilight_week2_002,div.b_bg_twilight_week2_002_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_twilight_week2_002.png);
}
div.b_bg_twilight_week3,div.b_bg_twilight_week3_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_twilight_week3.png);
}
div.b_bg_twilight_week2_nologo_002,div.b_bg_twilight_week2_nologo_002_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_twilight_week2_nologo_002.png);
}
div.b_bg_twilight_week3_nologo_009,div.b_bg_twilight_week3_nologo_009_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_twilight_week3_nologo_009.png);
}
div.b_bg_twilight_week4_nologo_001,div.b_bg_twilight_week4_nologo_001_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_twilight_week4_nologo_001.png);
}
div.b_background4,div.b_background4_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/background4.gif);
}
div.b_dojl_groupbg_final,div.b_dojl_groupbg_final_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/dojl_groupbg_final.gif);
}
div.b_bg_xmas09_wall,div.b_bg_xmas09_wall_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_xmas09_wall.gif);
}
div.b_xmas2009_bg_snowing,div.b_xmas2009_bg_snowing_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/xmas2009_bg_snowing.gif);
}
div.b_xmas2009_bg_xmasfun,div.b_xmas2009_bg_xmasfun_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/xmas2009_bg_xmasfun.png);
}
div.b_appart732_scene,div.b_appart732_scene_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/27419_appart732_scene.gif);
}
div.b_bg_generic_city,div.b_bg_generic_city_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_generic_city.png);
}
div.b_nl_bg_generic_2_blue,div.b_nl_bg_generic_2_blue_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/NL_bg_generic_2_blue.png);
}
div.b_nl_bg_generic_2_green,div.b_nl_bg_generic_2_green_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/NL_bg_generic_2_green.png);
}
div.b_nl_bg_generic_2_orange,div.b_nl_bg_generic_2_orange_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/NL_bg_generic_2_orange.png);
}
div.b_bg_hbh,div.b_bg_hbh_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_hbh.png);
}
div.b_bg_winterolympics_2010,div.b_bg_winterolympics_2010_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_winterolympics_2010.png);
}
div.b_cloudy_home_holland,div.b_cloudy_home_holland_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/cloudy_home_HOLLAND.jpg);
}
div.b_hrep_groupbg_final,div.b_hrep_groupbg_final_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/hrep_groupbg_final.png);
}
div.b_hrep_groupbg_v2,div.b_hrep_groupbg_v2_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/hrep_groupbg_v2.png);
}
div.b_bg_nannymcphee_2,div.b_bg_nannymcphee_2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_NannyMcPhee_2.jpg);
}
div.b_bg_rivm_group,div.b_bg_rivm_group_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_RIVM_Group.gif);
}
div.b_shabboline,div.b_shabboline_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/shabboline.png);
}
div.b_bg_habborunway_launch,div.b_bg_habborunway_launch_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_habborunway_launch.gif);
}
div.b_bg_habborunway_voting,div.b_bg_habborunway_voting_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_habborunway_voting.gif);
}
div.b_bg_habborunway_fashionweek2,div.b_bg_habborunway_fashionweek2_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_habborunway_fashionweek2.gif);
}
div.b_bg_kelloggs_arctica,div.b_bg_kelloggs_arctica_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_kelloggs_arctica.jpg);
}
div.b_onegoal_bg,div.b_onegoal_bg_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/1goal_bg.jpg);
}
div.b_bg_streetdance,div.b_bg_streetdance_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_streetdance.jpg);
}
div.b_achtergrondgroep2zonderlogo,div.b_achtergrondgroep2zonderlogo_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/achtergrond_groep2_ZONDER_LOGO.png);
}
div.b_habboinfobuspage11,div.b_habboinfobuspage11_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/habbo_infobuspage_1_1.png);
}
div.b_habboinfobuspage12,div.b_habboinfobuspage12_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/habbo_infobuspage_1_2.png);
}
div.b_wc_group,div.b_wc_group_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/wc_group.png);
}
div.b_wallpaper_relaunch,div.b_wallpaper_relaunch_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/wallpaper_reLaunch.png);
}
div.b_wallpaper_bigwave,div.b_wallpaper_bigwave_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/wallpaper_bigWave.png);
}
div.b_habbo_branded_totaal,div.b_habbo_branded_totaal_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/habbo_branded_totaal.jpg);
}
div.b_habbo_branded_kinder,div.b_habbo_branded_kinder_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/habbo_branded_kinder.jpg);
}
div.b_bg_928x1360_100kb_zonder_tekst,div.b_bg_928x1360_100kb_zonder_tekst_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/BG_928x1360_100Kb_zonder_tekst.jpg);
}
div.b_mcr_background,div.b_mcr_background_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/MCR_background.jpg);
}
div.b_mcr,div.b_mcr_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/MCR.jpg);
}
div.b_facebookcount_bg,div.b_facebookcount_bg_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/facebookcount_bg.png);
}
div.b_bg_habbo_groepsachtergrond,div.b_bg_habbo_groepsachtergrond_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_habbo_groepsachtergrond.jpg);
}
div.b_achtergrond_groep,div.b_achtergrond_groep_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/achtergrond_groep.jpg);
}
div.b_wallpaper_battlebanzai,div.b_wallpaper_battlebanzai_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/wallpaper_battleBanzai.png);
}
div.b_hrep_group_v2_bg,div.b_hrep_group_v2_bg_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/hrep_group_v2_bg.png);
}
div.b_bg_ema10_grouppage,div.b_bg_ema10_grouppage_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_ema10_grouppage.gif);
}
div.b_bg_ema10_grouppage2,div.b_bg_ema10_grouppage2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_ema10_grouppage2.gif);
}
div.b_bg_ema10_grouppage3,div.b_bg_ema10_grouppage3_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_ema10_grouppage3.gif);
}
div.b_groepsachtergrond_nieuw,div.b_groepsachtergrond_nieuw_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/groepsachtergrond_nieuw.jpeg);
}
div.b_bg_ema10_grouppage4 {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_ema10_grouppage4.gif );
}
div.b_bg_ema10_grouppage4_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_ema10_grouppage4.gif);
}
div.b_bg_despicableme_1,div.b_bg_despicableme_1_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_despicableme_1.jpg);
}
div.b_coolpolitics,div.b_coolpolitics_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/Coolpolitics.jpg);
}
div.b_wallpaper_hween10,div.b_wallpaper_hween10_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/wallpaper_hween10.png);
}
div.b_groepspagina_002,div.b_groepspagina_002_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/groepspagina_002.gif);
}
div.b_groepspagina_001,div.b_groepspagina_001_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/groepspagina_001.gif);
}
div.b_groepspagina_003,div.b_groepspagina_003_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/groepspagina_003.gif);
}
div.b_wallpaper_wired2,div.b_wallpaper_wired2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/wallpaper_wired2.png);
}
div.b_wallpaper_xm10_bc,div.b_wallpaper_xm10_bc_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/wallpaper_xm10_bc.png);
}
div.b_habboachtergrondsr,div.b_habboachtergrondsr_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/HabboAchtergrondSR.jpg);
}
div.b_bg_c1000_fstars,div.b_bg_c1000_fstars_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_c1000_fstars.jpg);
}
div.b_bg_disneyxd_masterclass,div.b_bg_disneyxd_masterclass_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_disneyxd_masterclass.jpg);
}
div.b_nl_gulliverstravels_928x1360_gp_bg_v1,div.b_nl_gulliverstravels_928x1360_gp_bg_v1_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/NL_GulliversTravels_928x1360_GP_BG_v1.jpg);
}
div.b_wallpaper_val11,div.b_wallpaper_val11_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/wallpaper_val11.png);
}
div.b_bg_nl_grex,div.b_bg_nl_grex_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_nl_grex.jpg);
}
div.b_leptop,div.b_leptop_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/Leptop.gif);
}
div.b_bg_actlikeastar,div.b_bg_actlikeastar_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_actlikeastar.jpg);
}
div.b_hyves_habbo_background,div.b_hyves_habbo_background_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/Hyves_Habbo_background.jpg);
}
div.b_fansite_groep,div.b_fansite_groep_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/fansite_groep.png);
}
div.b_bg_disneychannel,div.b_bg_disneychannel_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_disneychannel.jpg);
}
div.b_earthhour_wwf_background,div.b_earthhour_wwf_background_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/earthhour_wwf_background.png);
}
div.b_earthhour_wwf_background2,div.b_earthhour_wwf_background2_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/earthhour_wwf_background.png);
}
div.b_bg_disneychannel_2,div.b_bg_disneychannel_2_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_disneychannel_2.jpg);
}
div.b_bg_rio_nl,div.b_bg_rio_nl_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_rio_nl.jpg);
}
div.b_comicorange,div.b_comicorange_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/28221_Comic_style_orange_001.gif);
}
div.b_bg_nl_dress,div.b_bg_nl_dress_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/denim.gif);
}
div.b_nl_dyou_gp_background_v1,div.b_nl_dyou_gp_background_v1_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/NL_DYou_GP_Background_v1.jpg);
}
div.b_nl_dyou_gp_bg_140611_v1 {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/NL_DYou_GP_BG_140611_v1.jpg);
}
div.b_nl_dyou_gp_bg_140611_v1_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/NL_DYou_GP_BG_140611_v1.jpg );
}
div.b_dress_groepsachtergrond,div.b_dress_groepsachtergrond_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/dress_groepsachtergrond.jpg);
}
div.b_bg_disney_dresslikeastar,div.b_bg_disney_dresslikeastar_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_disney_dresslikeastar.jpg);
}
div.b_nl_tinadag_gp_bg_040811_v1,div.b_nl_tinadag_gp_bg_040811_v1_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/NL_TinaDag_GP_BG_040811_v1.png);
}
div.b_bg_coolpolitics_un,div.b_bg_coolpolitics_un_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_coolpolitics_un.png);
}
div.b_bg_cpga,div.b_bg_cpga_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_CPGA.gif);
}
div.b_bg_dfrisss_01,div.b_bg_dfrisss_01_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_dfrisss_01.jpg);
}
div.b_bg_ontour_nl,div.b_bg_ontour_nl_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_ontour_nl.jpg);
}
div.b_bg_disney_nl_leeuwen {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_disney_nl_leeuwen.jpg );
}
div.b_bg_disney_nl_leeuwen_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_disney_nl_leeuwen.jpg);
}
div.b_bg_jogobox_nl,div.b_bg_jogobox_nl_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_jogobox_nl.jpg);
}
div.b_bg_dfrisss_02,div.b_bg_dfrisss_02_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_dfrisss_02.jpg );
}
div.b_bg_hparlement,div.b_bg_hparlement_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_Hparlement.gif);
}

/* own backgrounds */
div.bg_hotelStaff {
	background-image: url(../images/groups/backgrounds/bg_hotelStaff.gif);
}

div.bg_hotcool_summer {
	background-image: url(../images/groups/backgrounds/bg_hotcool_summer.gif);
}

div.bg_hott {
	background-image: url(../images/groups/backgrounds/bg_hott.gif);
}

div.bg_hween2010 {
	background-image: url(../images/groups/backgrounds/bg_hween2010.gif);
}

div.bg_official_fansites {
	background-image: url(../images/groups/backgrounds/bg_official_fansites.gif);
}

div.bg_policitics {
	background-image: url(../images/groups/backgrounds/bg_policitics.gif);
}

div.bg_hotbg_racing {
	background-image: url(../images/groups/backgrounds/bg_racing.gif);
}

div.bg_summer_islands {
	background-image: url(../images/groups/backgrounds/bg_summer_islands.gif);
}

div.bg_summer_pixels {
	background-image: url(../images/groups/backgrounds/bg_summer_pixels.gif);
}

div.bg_vip {
	background-image: url(../images/groups/backgrounds/bg_vip.gif);
}